{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Bhaskara{% endblock %}</title>

    <!-- Tailwind CSS CDN -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- CSS local opcional -->
    <link rel="stylesheet" href="{% static 'home/css/estilos.css' %}">
</head>
<body class="bg-gray-100 min-h-screen">
    <header class="mb-12">
        <nav class="border-gray-200 bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
            <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
                <button data-collapse-toggle="navbar-hamburger" type="button"
                    class="inline-flex items-center justify-center p-2 w-10 h-10 text-sm text-gray-500 rounded-lg
                    hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400
                    dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-hamburger"
                    aria-expanded="false">
                    <span class="sr-only">Open main menu</span>
                    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 17 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M1 1h15M1 7h15M1 13h15" />
                    </svg>
                </button>
                <div class="hidden w-full" id="navbar-hamburger">
                    <ul class="flex flex-col font-medium mt-4 rounded-lg bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
                        <a href="{% url 'index' %}" class="block py-2 px-3 rounded-sm 
                            {% if request.resolver_match.url_name == 'index' %}
                                text-white bg-blue-700 dark:bg-blue-600
                            {% else %}
                                text-gray-900 hover:bg-gray-100 dark:text-gray-400
                                dark:hover:bg-gray-700 dark:hover:text-white
                            {% endif %}">
                            Home
                        </a>

                        <a href="{% url 'lista_bhaskaras' %}" class="block py-2 px-3 rounded-sm 
                            {% if request.resolver_match.url_name == 'lista_bhaskaras' %}
                                text-white bg-blue-700 dark:bg-blue-600
                            {% else %}
                                text-gray-900 hover:bg-gray-100 dark:text-gray-400 
                                dark:hover:bg-gray-700 dark:hover:text-white
                            {% endif %}">
                            History
                        </a>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    {% block content %}
    {% endblock %}

    <script src="{% static 'home/js/scripts.js' %}"></script>
</body>
</html>
